@import url('https://fonts.googleapis.com/css2? family= Dosis:wght@200;300;400;500;600;700;800 & display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}

body{
    min-width: 100vh;
    height: 100vh;
    background: linear-gradient(45deg, #CEDCCF, #C2BBCD, #ECC1BB, #F5A69F, #FFE5C4);

   background-size: 400%, 400%;
   animation: gradient 7s ease infinite ;

   display: flex;
   align-items: center;
   justify-content: center;
}

.container{
    background-color:white;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 6px 6px 4px 0.1rem #888;
}

.container h2{
    margin-bottom: 25px;
}

.container h2::before{
    content: '';
    position: absolute;
    height: 4px;
    width: 45px;
    top: 280px;
    border-radius: 8px;
    background: linear-gradient(45deg,  #ECC1BB, #F5A69F, #FFE5C4);
}
 

form{
    display: flex;
    flex-direction: column;
}

.input{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.input h5{
    margin-bottom: 4px;
    font-weight: 200;
   
}

.input input{
    width: 100%;
    height: 1.5rem;
    padding: 2.5px;
    letter-spacing: 0.5px;
    border-radius: 3px;
    border: none;
    box-shadow: 2px 2px 1px 0.1px #888 ;
}



.button input{
    margin-top: 1.5rem;
    width: 80%;
    margin-left: 17px;
    height: 1.7rem;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    background-color: #F5A69F;
    transition: 2s;
}

.button input:hover{
    
    margin-top: 1.5rem;
    height: 1.7rem;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    background-color: #C2BBCD;
}






@keyframes gradient{
    0%{
        background-position: 0% 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    100%{
        background-position: 0% 50%;
    }
}